body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navBar {
  height: 65px;
  display: flex;
  /* border: 1px solid green; */
  /* align-items: center; */
  /* background-color: rgb(0, 165, 236); */
}

.imageDiv {
  height: 100%;
  width: 200px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  margin-right: 25px;
}

#navImage {
  height: 30px;
  margin-left: 20px;
  margin-bottom: 15px;
  /* -ms-flex-align: center; */
}

.choose_cource {
  padding: 5px;
}

.dropdown:hover .dropdown_list {
  opacity: 1;
  visibility: visible;
}

.dropdown_select {
  display: flex;
  padding: 5px;
  background-color: gray;
  cursor: pointer;
  margin-top: 20px;
}

.dropdown_list {
  border-radius: 4px;
  background-color: aqua;
  /* position: absolute; */
  /* left: 0;
    right: 0; */
  opacity: 0;
  visibility: hidden;
  /* transition: opacity 0.2s linear, visibility 0.2s linear; */
}

.dropdown_list_items {
  padding: 5px;
}

/* new selects optionns ---------------------------------------------------------------*/

/* .wrap_select{
    flex-direction: row;
} */

.select_box {
  display: flex;
  width: 200px;
  margin-top: 15px;
  flex-direction: column;
}

.select_box .options_container {
  background-color: white;
  color: rgb(90, 86, 86);
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
}

.selected {
  background-color: rgb(0, 165, 236);
  border-radius: 3px;
  margin-bottom: 5px;
  color: white;
  font-weight: 500;
  position: relative;
  order: 0;
}

.selected::after {
  content: "";
  background: url("/Traning_Page/images/down-filled-triangular-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 15px;
  right: 10px;
  top: 8px;
  transition: all 0.4s;
}

.select_box .options_container.active {
  max-height: 240px;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}

.select_box .options_container.active + .selected::after {
  transform: rotate(180deg);
  top: -6px;
}

.select_box .options_container::-webkit-scrollbar {
  width: 4px;
  background: white;
  border-radius: 0 8px 8px 0;
}

.select_box .options_container::-webkit-scrollbar-thumb {
  /* width: 8px; */
  background: rgb(187, 187, 187);
  border-radius: 0 8px 8px 0;
}

.select_box,
.option,
.selected {
  padding: 5px 10px;
  cursor: pointer;
}

.select_box .option:hover {
  background-color: rgb(230, 244, 252);
  color: rgb(0, 165, 236);
}

.select_box label {
  cursor: pointer;
}

.select_box .option .radio {
  display: none;
}

/* slider------------------------------------------------------------------- */

.slider {
  /* width: 800px; */
  /* width: 100vw; */
  height: 400px;
  /* margin: -17px; */
  margin-top: 20px;
  width: 100%;
  /* border-radius: 10px; */
  overflow: hidden;
}

.slides {
  width: 500%;
  /* width: 100vw; */
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  /* width: 800px; */
  width: 100vw;
  height: 400px;
}

/* css for manual slide navigation */

.navigation-manual {
  position: absolute;
  /* width: 800px; */
  width: 100vw;
  margin: auto;
  margin-top: -35px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #9cafbb;
  background-color: #9cafbb;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 10px;
}

.manual-btn:hover {
  background: #bb2e03;
  border: 2px solid #bb2e03;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
/* #radio4:checked ~ .first{
  margin-left: -60%;
} */

/* css for automatic navigation */
/* .navigation-auto{
  position: absolute;
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-top: 460px;
} */

.navigation-auto div {
  border: 2px solid #9cafbb;
  background-color: #9cafbb;
  padding: 4px;
  border-radius: 10px;
  transition: 1s;
}

/* .navigation-auto div:not(:last-child){
  margin-right: 10px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background:#bb2e03;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background:#bb2e03;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background:#bb2e03;
} */

/* #radio4:checked ~ .navigation-auto .auto-btn4{
  background:#bb2e03;
} */

/* slider end----------------------------------------------------------------- */

.online-offer {
  font-size: 30px;
  font-weight: 500;
  width: 400px;
  margin: auto;
  margin-top: 50px;
}

.most-popular-txt {
  margin-top: 50px;
  margin-left: 30px;
  font-size: 22px;
}

/* flex items=============================================== */

.horizontal-container {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  padding: 0 0 20px 0;
  /* border: 1px solid khaki; */
}

.horizontal-items {
  height: 90%;
  width: 18%;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: space-evenly;
  flex: 1 1 20%;
  /* border: 1px solid green; */
}

.cource-image {
  width: 100%;
  margin-top: 15px;
}

/* .cource-title{
  font-weight: 700;
  font-size: 14px;
  margin: auto;
  width: 80%;
  align-items: center;
  margin-top: 5px;
}

.cource-desc{
  font-size: 12px;
  width: 85%;
  padding-top: 10px;
  margin: auto;
}

.cource-desc1{
  font-size: 12px;
  width: 50%;
  margin: auto;
  margin-bottom: 22px;
} */

/* new boxes start------------------------------------------ */

.cource-title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  align-items: center;
}

.cource-title p {
  /* align-items: center; */
  font-weight: 700;
  font-size: 14px;
}

.cource-desc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.cource-desc p {
  font-size: 12px;
  width: 80%;
  text-align: center;
  /* padding-top: 10px; */
}

.cource-desc1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

.cource-desc1 p {
  font-size: 12px;
  padding-top: 10px;
}

.cource-duration {
  width: 90%;
  display: flex;
  /* padding: 22px; */
  /* margin-top: 100px; */
  /* border: 1px solid #bb2e03; */
  margin: auto;
  justify-content: space-between;
}

.cource-time {
  font-size: 11px;
  color: rgb(104, 100, 100);
}

.know-more {
  font-size: 11px;
  font-weight: 700;
  color: rgb(0, 165, 236);
}

/* new boxes end------------------------------------------ */

/* footer========================================== */

footer {
  width: 100%;
  background-color: #333;
  height: 480px;
  margin-top: 40px;
}
#titles {
  width: 92%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
#titles > div {
  width: 24%;
  padding-left: 10px;
  height: 340px;
  line-height: 1;
  margin-top: 20px;
}
#tag {
  background-color: #ff8c00;
  color: white;
  border-radius: 5px;
  margin-left: 5px;
  font-size: 12px;
  padding: 2px;
  font-family: "Open Sans", sans-serif;
}
hr {
  width: 90%;
  margin: auto;
  color: dimgray;
}
#social_media {
  width: 90%;
  margin: 26px auto;
}
#play {
  display: inline-block;
  color: #fff;
  margin-right: 32px;
  border: 1px solid #fff;
  padding: 8px 12px;
  border-radius: 4px;
}
#icons {
  display: inline-block;
  font-size: 20px;
  margin-top: 10px;
}
#icons a {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}
#copyright {
  float: right;
  margin-top: 10px;
  color: white;
}
